.photo-container {
    display: grid;
    grid-template-rows: 80px auto auto;
    border-radius: 15px;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.user-row-container {
    display: flex;
    gap: 1em;
    align-items: center;
    padding-left: 1em;
}

.user-icon {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.photo-image {
    width: 100%;
}
.photo-bottom {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 1px;
    padding-left: 0.5em;
}

.photo-title {
    align-self: end;
    padding-left: 0.5em;
}
